# Entornos virtuales
venv/
/venv/
.venv/
/.venv/
env/
/env/
.env/
/.env/

# Archivos de entorno
.env
*.env.*

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de registro y temporales
*.log
*.log.*
checkpoint.json

# Sistema operativo
.DS_Store
Thumbs.db

# Editores y IDEs
.idea/
.vscode/
*.swp 